{% extends "base.html" %} {% block title %} Summarization page {% endblock %}
{% block content %}
<form class='m-2' method="post" action="{% url 'summary' %}">
  <h1 class='text-lg font-bold text-blue-700'>Text Summarization</h1>
  {% csrf_token %}
  <label for="text">Enter Text:</label><br />
  <textarea class='border outline-none focus:ring rounded w-full p-2' id="text" name="text" rows="10" cols="50"></textarea><br /><br />
  <button class='btn' type="submit">Summarize</button>
</form>
{% endblock %}
